<!--This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    Tyler Allen, Trevor Griggs, Hayden Thomas

-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Crust</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="/static/crust.css" rel="stylesheet">
    <style>
        body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Frizza</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a >Crust</a></li> <!-- http://getbootstrap.com/examples/theme/# -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a >{{ user.username }}</a> </li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>What crust would you like?</h1>
    </div>
        <div class="row">
            <div class="column">
                {% if crust_list %}
                    <form>
                    {% for crust in crust_list %}
                    <input type="radio" name="crust" value="{{ crust.crust_name }}">{{ crust.crust_name }}
                    {% endfor %}
                    </form>
                {% else %}
                    <p>No crust</p>
                {% endif %}
            </div><!-- /.col-sm-4 -->
        </div>

        <div class="page-header"></div>

        {% block content %}

        <form action="" class="form-signin" method="post">{% csrf_token %}
            <div class="row">
                <div class="column">
                    <div class="button_container">
                        <p>
                            <a href="/sauce" class="btn btn-lg btn-primary" type="submit">Proceed to Sauce</a>
                            <a href="/pizza" class="btn btn-lg btn-default">Back</a>
                        </p>
                    </div>
                </div>
            </div>

            <input type="hidden" name="next" value="/sauce" />
        </form>

        <div class="alert alert-success">
            <strong>Choice: </strong><a >{{ crust.crust_name }}</a>
        </div>

        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Please choose a crust.</strong>
        </div>
        {% endif %}

        {% endblock %}

</div>


<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/jquery.js"></script>
<!--<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script> -->

</body>
</html>
