<!--This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    Tyler Allen, Trevor Griggs, Hayden Thomas

-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Toppings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="/static/toppings.css" rel="stylesheet">
    <style>
        body {
        padding-top: 60px; /* 60px to make the container go all the way to the
        bottom of the topbar */
        }
    </style>
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
          href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Frizza</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a>Toppings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>{{ user.username }}</a></li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>What toppings would you like?</h1>
    </div>
    <form action="" class="form-signin" method="post">{% csrf_token %}
        <div class="row">
            <div class="column">
                {% if topping_list %}
                {% for topping in topping_list %}
                <input type="checkbox" name="{{ topping.topping_name }}"
                       value="{{ topping.topping_name }}">{{
                topping.topping_name }}<br>
                {% endfor %}
                {% else %}
                <p> No toppings </p>
                {% endif %}
            </div>
            <!-- /.col-sm-4 -->
        </div>

        <div class="page-header"></div>

        {% block content %}

        <div class="row">
            <div class="column">
                <div class="button_container">
                    <p>
                        <input type="submit" class="btn btn-lg btn-primary"
                               name="confirm" value="Dispense">
                        <input type="submit" class="btn btn-lg btn-default"
                               value="Back">
                    </p>
                </div>
            </div>
        </div>

    </form>

    {% endblock %}

</div>


<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/jquery.js"></script>
<!--<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>-->

</body>
</html>
