body {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  text-align: center;
  margin: 5px 0;
}

.button_container button {
	margin-top: 5px;
	margin-bottom: 5px;
    text-align: center;
}

.column {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
